<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./templates/static/css/style.css"> -->
    <title>Courses</title>
</head>
<body>
    <h1>The courses are:</h1>
    <div>
        <ul>
            {% for course in courses %}
                <li><a href="{% url 'coursestudent' course %}">{{ course }}</a></li>
            {% empty %}
                <li>No courses available.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>